<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-md-12 text-center mb-2">
      <small> © 2021 by <span
          class="text-secondary font-weight-bold">Sanofi</span></small>
    </div>
    <!--<div class="col-md-12 text-center mb-3">
      <a href="https://github.com/varunadhikari" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-github"></i></a>
      <a href="#" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/varunadhikari/" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
          class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/varun-adhikari/" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
          class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="col-md-12 text-center">
      <iframe
        src="https://ghbtns.com/github-btn.html?user=varunadhikari&repo=products-ux&type=fork&count=true&size=small"
        frameborder="0" scrolling="0" width="80px" height="20px"></iframe>

      <iframe
        src="https://ghbtns.com/github-btn.html?user=varunadhikari&repo=products-ux&type=star&count=true&size=small"
        frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
    </div> -->


  </div>

</div>